* {
  margin: 0;
}

body {
  overflow-x: hidden;
}

img {
  object-fit: cover;
}

#image-container {
  position: fixed;
  overflow: hidden;
}

#double-blank {
  display: flex;
  justify-content: center;
  align-items: center;
}